@import '../../CSS/vars.scss';

.ProductFilter{    
    label{
        position: relative;
        display: block;
        cursor: pointer;
        margin: .5rem 0;
        padding: .5rem .25rem;
        font-size: 1.2rem;
        width: 80%;
        &.active{
            transition: ease-in-out all .3s;
            background: aqua;
            &:before{
                    position: absolute;
                    content: "";
                    right: -13px;
                    top: 5px;
                    transform: rotate(-45deg);
                    border-left: 27px solid aqua;
                    border-bottom: 27px solid aqua;
                    transition: ease-in-out all 0.3s;
                    transition-delay: 0.4s;
            }
        }
    }
    .simple-button{
        background: $primary-color;
        font-size: 1rem;
        border: none;
        width: 90%;
        margin: 0;
        cursor: pointer;
    }
    .button-container{
        transition: ease-in-out all 0.3s;
    }

}